/*** Variables ***/
marquee p img {
  float: left;
  padding: 2px;
}
/*** Header ***/
header {
  height: 314px;
  background-image: url("../images/logo.png"), url("../images/background.jpg");
  background-position: center center, center -100px;
  background-repeat: no-repeat, no-repeat;
}
header a {
  width: 100%;
  height: 314px;
}
header a p {
  color: #bb0022;
}
header a p:hover,
header a p:focus {
  color: #ff0000;
}
/*** Boutton caché ***/
#btnrefresh {
  display: none;
}
/*** Body ***/
body {
  border-top: none !important;
  background: linear-gradient(#ffdddd, #ffffff, #ffdddd);
  background-size: 100%;
}
/*** Container ***/
.container {
  width: 50%;
  max-width: none;
}
/*** Liens ***/
a,
a:hover,
a:focus {
  text-decoration: none;
}
/*** Main Menu ***/
nav ul.nav {
  /*** menu non-actif***/
  /*** menu actif ***/
}
nav ul.nav li {
  /*** sous menus des menus non actif ***/
}
nav ul.nav li a {
  color: #bb0022;
}
nav ul.nav li a:focus,
nav ul.nav li a:hover {
  background: linear-gradient(#ffeeee, #bb0022);
  color: #ffffff;
  font-size: 15px;
}
nav ul.nav li ul.nav-child li a {
  background: #ffffff !important;
  font-weight: normal;
  color: #bb0022;
}
nav ul.nav li ul.nav-child li a:focus,
nav ul.nav li ul.nav-child li a:hover {
  background-image: none;
  background: linear-gradient(#ffeeee, #bb0022) !important;
  color: #ffffff;
  padding-left: 30px;
}
nav ul.nav li.active {
  /*** sous menus du menu actif***/
}
nav ul.nav li.active a {
  background: linear-gradient(#000000, #bb0022, #ff0000) !important;
  font-weight: bold;
}
nav ul.nav li.active a:focus,
nav ul.nav li.active a:hover {
  font-size: 13px;
}
nav ul.nav li.active ul {
  /*** sous menu actif du menu actif ***/
}
nav ul.nav li.active ul li a {
  background: #ffffff !important;
  font-weight: normal;
  color: #bb0022;
}
nav ul.nav li.active ul li a:focus,
nav ul.nav li.active ul li a:hover {
  background-image: none;
  background: linear-gradient(#ffeeee, #bb0022) !important;
  color: #ffffff;
  padding-left: 30px;
}
nav ul.nav li.active ul li.active a {
  background: linear-gradient(#000000, #bb0022, #ff0000) !important;
  color: #ffffff;
  padding-left: 40px;
  font-weight: bold;
}
/*** fil d'arianne ***/
nav ul.breadcrumb a {
  color: #bb0022;
}
nav ul.breadcrumb a:focus,
nav ul.breadcrumb a:hover {
  color: #ff0000;
  text-decoration: none;
  background: #ffeeee;
}
/*** Menu gauche ***/
#sidebar ul {
  /*** sous menus ***/
  /*** Sous menus sélectionné ***/
}
#sidebar ul li a {
  color: #bb0022;
}
#sidebar ul li a:focus,
#sidebar ul li a:hover {
  background: linear-gradient(#ffeeee, #bb0022);
  color: #ffffff;
  padding-left: 10px;
}
#sidebar ul li.current a {
  background: linear-gradient(#000000, #bb0022, #ff0000);
  color: #ffffff;
  padding-left: 20px;
  font-weight: bold;
}
/*** Content ***/
/*** Article vedette (accueil) ***/
#content .blog-featured .row-fluid {
  /*** images articles vedettes ***/
  /*** ReadMore ***/
  /*** Category_link ***/
}
#content .blog-featured .row-fluid .span6 {
  width: auto;
  margin: auto;
}
#content .blog-featured .row-fluid img {
  width: 315px;
}
#content .blog-featured .row-fluid p.readmore {
  margin: 20px 0 35px 0;
}
#content .blog-featured .row-fluid p.readmore a {
  width: 41%;
}
#content .blog-featured .row-fluid dl dd a {
  color: #bb0022;
}
#content .blog-featured .row-fluid dl dd a:hover,
#content .blog-featured .row-fluid dl dd a:focus {
  color: #ff0000;
  background: #ffeeee;
}
/*** RSS ***/
#content .newsfeed ol li a {
  color: #bb0022;
  /*** Anti pub ***/
}
#content .newsfeed ol li a img {
  display: none;
}
#content .newsfeed h2 a,
#content .newsfeed h3 a {
  color: #bb0022;
  font-weight: normal;
}
/*** Blog de catégories ***/
#content .blog .row-fluid h2,
#content .blog .row-fluid h3 {
  font-weight: normal;
}
#content .blog .row-fluid img {
  width: 315px;
}
#content .blog .row-fluid p.readmore {
  margin: 20px 0 35px 0;
}
#content .blog .row-fluid a {
  width: 41.7%;
}
/*** Articles après clique sur ReadMore ***/
#content {
  /*** affiche film ***/
  /*** tableau d'information ***/
}
#content .item-page {
  /*** synopsys film ***/
  /*** vidéo YT ***/
  /*** Bouton suivant/precedent ***/
}
#content .item-page h2,
#content .item-page h3 {
  font-weight: normal;
}
#content .item-page p.synop {
  font-size: 16px;
  margin-top: 25px;
}
#content .item-page embed {
  width: 100%;
  height: 430px;
}
#content .item-page ul li a {
  background: linear-gradient(#000000, #bb0022, #ff0000);
  color: #ffffff;
  font-weight: bold;
}
#content .item-page ul li a:hover,
#content .item-page ul li a:focus {
  background: linear-gradient(#ffeeee, #bb0022);
}
#content .pull-left.item-image {
  width: 39%;
  margin-left: 50px;
}
#content .pull-left.item-image img {
  height: 445px;
  width: 90%;
}
#content table {
  height: 445px;
  width: 45%;
  margin-right: 90px;
}
#content table tr td:first-child {
  width: 55%;
  padding-left: 10px;
}
#content table tr td:last-child {
  text-align: center;
}
#content table td {
  border: 1px solid;
}
/*** Pagination ***/
.pagination ul li a {
  width: auto !important;
  color: #bb0022;
}
.pagination ul li a:hover,
.pagination ul li a:focus {
  color: #ff0000;
  background: #ffeeee;
  font-size: 15px;
}
.pagination ul li.active a {
  color: #ffffff;
  background: #bb0022;
  font-weight: bold;
}
/*** Champ de recherche ***/
nav .search,
nav .custom {
  float: right;
  position: relative;
  bottom: 82px;
}
nav .search form button,
nav .custom form button {
  background: linear-gradient(#000000, #bb0022, #ff0000);
  border: none;
  margin-left: 10px;
}
nav .search form button:hover,
nav .custom form button:hover,
nav .search form button:focus,
nav .custom form button:focus,
nav .search form button:active,
nav .custom form button:active {
  background: linear-gradient(#ffeeee, #bb0022);
  border: none;
}
/*** Résultats de recherche ***/
.row-fluid {
  /*** Bloc Recherche ***/
  /*** Bloc Recherche uniquement dans : ***/
  /*** Bloc Affichage ***/
  /*** Bloc Classement ***/
  /*** Liens resultats ***/
}
.row-fluid fieldset.phrases {
  width: 50%;
  float: left;
}
.row-fluid fieldset.only {
  width: 50%;
}
.row-fluid .form-limit label {
  float: left;
  padding: 5px 10px 0 0;
}
.row-fluid .ordering-box {
  padding-top: 18px;
}
.row-fluid .search input {
  height: 24px !important;
}
.row-fluid .search dl dt a {
  color: #bb0022;
}
.row-fluid .search form .searchintro p .badge {
  background: #bb0022;
  color: #ffffff;
}
/*** Login ***/
#content .login input {
  height: 30px !important;
}
#content .login form fieldset .control-group .controls button {
  background: linear-gradient(#000000, #bb0022, #ff0000);
  border: none;
}
#content .login form fieldset .control-group .controls button:hover,
#content .login form fieldset .control-group .controls button:focus,
#content .login form fieldset .control-group .controls button:active {
  background: linear-gradient(#ffeeee, #bb0022);
  border: none;
}
#content .reset input,
#content .remind input,
#content .registration input {
  height: 30px !important;
}
#content .reset form .control-group .controls button,
#content .remind form .control-group .controls button,
#content .registration form .control-group .controls button {
  background: linear-gradient(#000000, #bb0022, #ff0000);
  border: none;
}
#content .reset form .control-group .controls button:hover,
#content .remind form .control-group .controls button:hover,
#content .registration form .control-group .controls button:hover,
#content .reset form .control-group .controls button:focus,
#content .remind form .control-group .controls button:focus,
#content .registration form .control-group .controls button:focus,
#content .reset form .control-group .controls button:active,
#content .remind form .control-group .controls button:active,
#content .registration form .control-group .controls button:active {
  background: linear-gradient(#ffeeee, #bb0022);
  border: none;
}
#content .nav-stacked input {
  height: 30px !important;
}
#content .nav-stacked li a {
  color: #bb0022;
}
/*** Logout ***/
.row-fluid .moduletable form .login-greeting {
  padding-bottom: 10px;
}
.row-fluid .moduletable form .logout-button input {
  background: linear-gradient(#000000, #bb0022, #ff0000);
  border: none;
}
.row-fluid .moduletable form .logout-button input:hover,
.row-fluid .moduletable form .logout-button input:focus,
.row-fluid .moduletable form .logout-button input:active {
  background: linear-gradient(#ffeeee, #bb0022);
  border: none;
}
/*** Page de modification du profil ***/
.row-fluid #content .profile-edit form input {
  height: 30px;
}
.row-fluid #content .profile-edit form .control-group .controls button {
  background: linear-gradient(#000000, #bb0022, #ff0000);
  border: none;
}
.row-fluid #content .profile-edit form .control-group .controls button:hover,
.row-fluid #content .profile-edit form .control-group .controls button:focus,
.row-fluid #content .profile-edit form .control-group .controls button:active {
  background: linear-gradient(#ffeeee, #bb0022);
  border: none;
}
/*** Administration ***/
#content form input {
  height: 30px;
}
#content form input#params_logoFile {
  height: 28px !important;
}
#content form input#params_templateColor,
#content form input#params_templateBackgroundColor {
  width: 100px;
}
#content form .row-fluid .btn-toolbar .btn-group button {
  background: linear-gradient(#000000, #bb0022, #ff0000);
  border: none;
}
#content form .row-fluid .btn-toolbar .btn-group button:hover,
#content form .row-fluid .btn-toolbar .btn-group button:focus,
#content form .row-fluid .btn-toolbar .btn-group button:active {
  background: linear-gradient(#ffeeee, #bb0022);
  color: #ffffff;
  border: none;
}
#content form .row-fluid a.btn.hasTooltip {
  height: 18px;
}
/*** Phoca Gallery ***/
#content .phocagallery {
  width: 70%;
  margin: auto;
}
#content .phocagallery .phocagallery-box-file {
  height: 100px !important;
  width: auto !important;
}
#content .phocagallery .phocagallery-box-file .name,
#content .phocagallery .phocagallery-box-file .detail {
  display: none;
}
#content .phocagallery .phocagallery-box-file center {
  margin: 0 !important;
}
/*** Test CSS ***/
#content .item-page {
  /*** first square : transform and transition test ***/
  /*** Second square : text/box shadow test ***/
  /*** Troisieme carré : animation test ***/
  /*** Chrome, Safari, Opera ***/
  /*** Standard syntax ***/
}
#content .item-page .csstest {
  height: 100px;
  width: 100px;
  background: #0000ff;
  transition: width 5s, height 5s, background 8s, transform 8s;
}
#content .item-page .csstest:hover,
#content .item-page .csstest:focus {
  background: #ff0000;
  width: 200px;
  height: 200px;
  transform: skew(180deg, 180deg);
}
#content .item-page .csstest2 {
  color: #ffffff;
  margin-top: 10px;
  height: 100px;
  width: 100px;
  background: #bb0022;
  transition: box-shadow 3s, width 3s, height 3s, margin-bottom 3s, transform 5s, text-shadow 3s;
}
#content .item-page .csstest2:hover,
#content .item-page .csstest2:focus {
  box-shadow: 0 160px #bb0022;
  width: 150px;
  height: 150px;
  margin-bottom: 170px;
  text-shadow: 1px 160px;
  transform: rotate(360deg);
}
#content .item-page .csstest3 {
  margin-top: 10px;
  position: relative;
  width: 100px;
  height: 100px;
  color: #ffffff;
  background: #000000;
  /*** Chrome, Safari, Opera ***/
  -webkit-animation-name: squaremove;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  /*** Standard ***/
  animation-name: squaremove;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@-webkit-keyframes squaremove {
  0% {
    background-color: #000000;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: green;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: yellow;
    left: 200px;
    top: 10px;
  }
  75% {
    background-color: red;
    left: 0px;
    top: 10px;
  }
  100% {
    background-color: #000000;
    left: 0px;
    top: 0px;
  }
}
@keyframes squaremove {
  0% {
    background-color: #000000;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: green;
    left: 200px;
    top: 0px;
  }
  50% {
    background-color: yellow;
    left: 200px;
    top: 10px;
  }
  75% {
    background-color: red;
    left: 0px;
    top: 10px;
  }
  100% {
    background-color: #000000;
    left: 0px;
    top: 0px;
  }
}
/*** hide tags, slideshow page ***/
#content .tag-category {
  display: none;
  visibility: hidden;
}
#content .camera_caption div {
  display: none;
  visibility: hidden;
}
/*** Jcomments ***/
#content .blog .jcomments-links .readmore-link,
#content .blog .jcomments-links .comments-link {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 35px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #bbb;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#content .blog .jcomments-links .readmore-link {
  width: 32.45%;
  margin-left: 49px;
}
#content .blog .jcomments-links .comments-link {
  width: 42.25%;
  margin-left: 52px;
}
#jc #comments #comments-list {
  height: auto;
}
#jc #comments #comments-list-footer {
  margin-top: 60px !important;
}
#jc #comments-footer {
  display: none;
}
.question {
  border: 7px groove;
  border-color: #808080;
  background-color: #fee;
  width: 900px;
  height: 250px;
  margin: 20px;
  padding-left: 15px;
}
.question .texte {
  float: left;
  width: 90%;
}
.question img {
  float: right;
  margin-top: 80px;
}
/*** Test jeu jquerry ***/
#jeu {
  width: 400px;
  height: 400px;
  border: 2px black solid;
  overflow: hidden;
  position: relative;
}
.fond {
  margin-bottom: -5px;
  z-index: 10;
  position: absolute;
}
#vj {
  z-index: 100;
  position: absolute;
  top: 10px;
  left: 48px;
}
#vr {
  z-index: 80;
  position: absolute;
  top: -200px;
  left: 0px;
}
/*** Jeu : vaisseau ***/
#jeuv {
  width: 600px;
  height: 400px;
  border: 2px black solid;
  background: url('../../../images/fond.png');
  overflow: hidden;
}
#soucoupe {
  z-index: 200;
  position: relative;
  top: 1px;
  left: 1px;
}
#bon {
  z-index: 100;
  position: relative;
  display: none;
  width: 50px;
  height: 116px;
}
#mauvais {
  z-index: 100;
  position: relative;
  display: none;
  width: 50px;
  height: 116px;
}
/*** Page Apparence, test jquerry ***/
#panel,
#flip {
  padding: 5px;
  text-align: center;
  background: linear-gradient(#000000, #bb0022, #ff0000);
  border: solid 1px #c3c3c3;
  color: #ffffff;
  font-size: 16px;
}
#panel {
  padding: 50px;
  display: none;
}
.statecls {
  color: red;
  font-size: 25px;
}
/*** Réatribution des paramètres par defaut du boutton Annuler (Administrateur -> gestion) ***/
.cancelbutton {
  color: #333 !important;
  background-color: #f5f5f5 !important;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6) !important;
  background-repeat: repeat-x !important;
  border: 1px solid #bbb !important;
  border-bottom-color: #a2a2a2 !important;
}
.cancelbutton:hover,
.cancelbutton:focus {
  background-color: #e6e6e6 !important;
  background-image: none !important;
}
