/*** Variables ***/
@redcolor: #b02;
@colorhover: #fee;
@red: #f00;
@blue: #00f;
@white : #fff ;
@black: #000;
@bodycolor: #fdd;
@gradient: linear-gradient(@black,@redcolor,@red);
@gradienthover: linear-gradient(@colorhover,@redcolor);

marquee p img {
	float: left;
	padding: 2px;
}

/*** Header ***/
header {
	height:314px;
	background-image: url("../images/logo.png"), url("../images/background.jpg");
	background-position: center center, center -100px;
	background-repeat: no-repeat, no-repeat;
	a{
		width:100%;
		height:314px;
		p{
			color:@redcolor;
		}
		p:hover,p:focus{
			color:@red;
		}
	}
}
/*** Boutton caché ***/
#btnrefresh {
		display:none;
}

/*** Body ***/
body{
	border-top: none !important;
	background:linear-gradient(@bodycolor,@white,@bodycolor);
	background-size: 100%;
}

/*** Container ***/
.container{
	width:50%;
	max-width: none;
}

/*** Liens ***/
a,a:hover,a:focus{
	text-decoration:none;
}

/*** Main Menu ***/
nav {
	ul.nav{
		/*** menu non-actif***/
		li{
			a{
				color:@redcolor;
			}
			a:focus,a:hover{
				background:@gradienthover;
				color:@white;
				font-size:15px;
			}
			/*** sous menus des menus non actif ***/
			ul.nav-child{
				li{
					a{
						background:@white !important;
						font-weight: normal;
						color:@redcolor;
					}
					a:focus,a:hover{
						background-image:none;
						background:@gradienthover !important;
						color:@white;
						padding-left:30px;
					}
				}
			}
		}
		/*** menu actif ***/
		li.active{
			a{
				background: @gradient !important;	
				font-weight: bold;
			}
			a:focus,a:hover{
				font-size:13px;
			}
			/*** sous menus du menu actif***/
			ul{
				li{
					a{
						background:@white !important;
						font-weight: normal;
						color:@redcolor;
					}
					a:focus,a:hover{
						background-image:none;
						background:@gradienthover !important;
						color:@white;
						padding-left:30px;
					}
				}
				/*** sous menu actif du menu actif ***/
				li.active{
					a{
						background:@gradient !important;
						color:@white;
						padding-left:40px;
						font-weight: bold;
					}
				}
			}
		}
	}
}

/*** fil d'arianne ***/ 
nav{
	ul.breadcrumb{
		a{
			color:@redcolor;
		}
		a:focus,a:hover{
			color:@red;
			text-decoration: none;
			background:@colorhover;
		}
	}
}

/*** Menu gauche ***/
#sidebar{
	ul{
		/*** sous menus ***/
		li{
			a{
				color:@redcolor;
			}
			a:focus,a:hover{
				background:@gradienthover;
				color:@white;
				padding-left:10px;
			}
		}
		/*** Sous menus sélectionné ***/
		li.current{
			a{
				background:@gradient;
				color:@white;
				padding-left:20px;
				font-weight: bold;
			}
		}
	}
}

/*** Content ***/

/*** Article vedette (accueil) ***/
#content{	
	.blog-featured{
		.row-fluid{
			.span6{
				width:auto;
				margin:auto;
			}

			/*** images articles vedettes ***/
			img{
				width:315px;	
			}

			/*** ReadMore ***/
			p.readmore{
				margin:20px 0 35px 0;
				a{
				width:41%;
				}
			}
			
			/*** Category_link ***/
			dl{
				dd{
					a{
						color:@redcolor;
					}
					a:hover,a:focus{
						color:@red;
						background:@colorhover;
					}
				}
			}
		}
	}
}

/*** RSS ***/
#content{
	.newsfeed{
		ol{
			li{
				a{
					color:@redcolor;
					/*** Anti pub ***/
					img{
						display:none;
					}
				}
			}
		}
		h2,h3{
			a{
				color:@redcolor;
				font-weight: normal;
			}
		}
	}
}

/*** Blog de catégories ***/
#content{
	.blog{
		.row-fluid{
			h2,h3{
				font-weight: normal;
			}
			img{
				width:315px;	
			}
			p.readmore{
				margin:20px 0 35px 0;
			}
			a{
				width:41.7%;
			}	
		}
	}
}
/*** Articles après clique sur ReadMore ***/
#content {
	.item-page{
		h2,h3{
			font-weight: normal;
		}
		/*** synopsys film ***/
		p.synop{
			font-size:16px;
			margin-top:25px;
		}
		/*** vidéo YT ***/
		embed{
			width:100%;
			height:430px;
		}
		/*** Bouton suivant/precedent ***/
		ul{
			li{
				a{
					background:@gradient;
					color:@white;
					font-weight: bold;
				}
				a:hover,a:focus{
					background:@gradienthover;
				}
			}
		}
	}
	/*** affiche film ***/
	.pull-left.item-image{
		width:39%;
		margin-left: 50px;
		img {
			height:445px;
			width:90%;
		}
	}
	/*** tableau d'information ***/
	table{
		height:445px;
		width: 45%;
		margin-right:90px;
		tr td:first-child {
			width: 55%;
			padding-left:10px;
		}
		tr td:last-child {
			text-align:center;
		}
		td{
			border: 1px solid;
		}
	}
}

/*** Pagination ***/	
.pagination{
	ul{
		li{
			a{
				width:auto !important;
				color:@redcolor;
			}
			a:hover,a:focus{
				color:@red;
				background:@colorhover;
				font-size:15px;
			}
		}
		li.active{
			a{
				color:@white;
				background: @redcolor;
				font-weight: bold;
			}
		}
	}
}

/*** Champ de recherche ***/
nav{
	.search,.custom{
		float:right;
		position: relative;
		bottom: 82px;
		form{
			button{
				background:@gradient;
				border:none;
				margin-left:10px;
			}
			button:hover,button:focus,button:active{
				background:@gradienthover;
				border:none;
			}
		}
	}
}

/*** Résultats de recherche ***/
.row-fluid{
	/*** Bloc Recherche ***/
	fieldset.phrases{
		width: 50%;
		float:left;
	}
	/*** Bloc Recherche uniquement dans : ***/
	fieldset.only{
		width: 50%;
	}
	/*** Bloc Affichage ***/
	.form-limit{
		label{
			float: left;
			padding: 5px 10px 0 0;
		}
	}
	/*** Bloc Classement ***/
	.ordering-box{
		padding-top:18px;
	}
	/*** Liens resultats ***/
	.search{
		input{
			height:24px !important;
		}
		dl{
			dt{
				a{
					color:@redcolor;
				}
			}
		}
		form{
			.searchintro{
				p{
					.badge{
						background:@redcolor;
						color:@white;
					}
				}
			}
		}
	}
}

/*** Login ***/
#content{
	.login{
		input{
			height:30px !important;
		}
		form{
			fieldset{
				.control-group{
					.controls{
						button{
							background:@gradient;
							border:none;
						}
						button:hover,button:focus,button:active{
							background:@gradienthover;
							border:none;
						}
					}
				}
			}
		}
	}
	.reset,.remind,.registration{
		input{
			height:30px !important;
		}
		form{
			.control-group{
				.controls{
					button{
						background:@gradient;
						border:none;
					}
					button:hover,button:focus,button:active{
						background:@gradienthover;
						border:none;
					}
				}
			}
		}
	}
	.nav-stacked{
		input{
			height:30px !important;
		}
		li{
			a{	
				color:@redcolor;
			}
		}
	}
}

/*** Logout ***/
.row-fluid{
	.moduletable{
		form{
			.login-greeting{
				padding-bottom: 10px;
			}
			.logout-button{
				input{
					background:@gradient;
					border:none;
				}
				input:hover,input:focus,input:active{
					background:@gradienthover;
					border:none;
				}
			}
		}
	}
}

/*** Page de modification du profil ***/

.row-fluid{
	#content{
		.profile-edit{
			form{
				input{
					height: 30px;
				}
				.control-group{
					.controls{
						button{
							background:@gradient;
							border:none;
						}
						button:hover,button:focus,button:active{
							background: @gradienthover;
							border:none;
						}
					}
				}
			}
		}
	}
}

/*** Administration ***/
#content{
	form{
		input{
			height: 30px;
		}
		input#params_logoFile{
			height: 28px !important;
		}
		input#params_templateColor,input#params_templateBackgroundColor{
			width: 100px;
		}
		.row-fluid{
			.btn-toolbar{	
				.btn-group{
					button{
						background:@gradient;
						border:none;
					}
					button:hover,button:focus,button:active{
						background: @gradienthover;
						color:@white;
						border:none;
					}
				}
			}
			a.btn.hasTooltip{
				height:18px;
			}
		}
	}
}

/*** Phoca Gallery ***/
#content{
	.phocagallery{
		width: 70%;
		margin:auto;
		.phocagallery-box-file{
			height:100px !important;
			width:auto !important;
			.name,.detail{
				display:none;
			}
			center{
				margin:0 !important;
			}
		}
	}
}

/*** Test CSS ***/
#content{
	.item-page{
		/*** first square : transform and transition test ***/
		.csstest{
			height: 100px;
			width: 100px;
			background: @blue;
			transition: width 5s, height 5s, background 8s, transform 8s;
		}
		.csstest:hover,.csstest:focus{
			background:@red;
			width:200px;
			height: 200px;
			transform: skew(180deg,180deg);
		}
		/*** Second square : text/box shadow test ***/
		.csstest2{
			color: @white;
			margin-top:10px;
			height: 100px;
			width: 100px;
			background: @redcolor;
			transition: box-shadow 3s, width 3s, height 3s, margin-bottom 3s, transform 5s, text-shadow 3s;
		}
		.csstest2:hover,.csstest2:focus{
			box-shadow: 0 160px @redcolor;
			width: 150px;
			height: 150px;
			margin-bottom:170px;
    		text-shadow: 1px 160px;
    		transform: rotate(360deg);
		}
		/*** Troisieme carré : animation test ***/
		.csstest3{
			margin-top:10px;
    		position: relative;
			width:100px;
			height:100px;
			color:@white;
			background:@black;
			/*** Chrome, Safari, Opera ***/
			-webkit-animation-name: squaremove; 
		    -webkit-animation-duration: 3s;
		    -webkit-animation-iteration-count: infinite;
		    -webkit-animation-direction: alternate;
		    /*** Standard ***/
		    animation-name: squaremove;
		    animation-duration: 3s;
		    animation-iteration-count: infinite;
		    animation-direction: alternate;
		}
		/*** Chrome, Safari, Opera ***/
		@-webkit-keyframes squaremove {
		    0%   {background-color:@black; left:0px; top:0px;}
		    25%  {background-color:green; left:200px; top:0px;}
		    50%  {background-color:yellow; left:200px; top:10px;}
		    75%  {background-color:red; left:0px; top:10px;}
		    100% {background-color:@black; left:0px; top:0px;}
		}
		/*** Standard syntax ***/
		@keyframes squaremove {
		    0%   {background-color:@black; left:0px; top:0px;}
		    25%  {background-color:green; left:200px; top:0px;}
		    50%  {background-color:yellow; left:200px; top:10px;}
		    75%  {background-color:red; left:0px; top:10px;}
		    100% {background-color:@black; left:0px; top:0px;}
		}
	}
}

/*** hide tags, slideshow page ***/
#content{
	.tag-category{
		display:none;
			visibility: hidden;
	}
	.camera_caption{
		div{
			display:none;
			visibility: hidden;
		}
	}
	
}

/*** Jcomments ***/
#content{
	.blog{
		.jcomments-links{
			.readmore-link, .comments-link{
				display: inline-block;
				padding: 4px 12px;
				margin-bottom: 35px;
				font-size: 13px;
				line-height: 18px;
				text-align: center;
				vertical-align: middle;
				cursor: pointer;
				color: #333;
				text-shadow: 0 1px 1px rgba(255,255,255,0.75);
				background-color: #f5f5f5;
				background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
				background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
				background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
				background-image: -o-linear-gradient(top,#fff,#e6e6e6);
				background-image: linear-gradient(to bottom,#fff,#e6e6e6);
				background-repeat: repeat-x;
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe5e5e5', GradientType=0);
				border-color: #e6e6e6 #e6e6e6 #bfbfbf;
				filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
				border: 1px solid #bbb;
				border-bottom-color: #a2a2a2;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;
				-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
				-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
				box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
			}
			.readmore-link{
				width: 32.45%;
				margin-left: 49px;
			}
			.comments-link{
				width: 42.25%;
				margin-left: 52px;
			}
		}
	}
}
#jc{
	#comments{
		#comments-list{
			height:auto;
		}
		#comments-list-footer{
			margin-top: 60px !important;
		}
	}
	#comments-footer{
		display:none;
	}
}

.question
{
	border: 7px groove;
	border-color: #808080;
	background-color: #fee;
	width: 900px;
	height: 250px;
	margin: 20px;
	padding-left: 15px;
	.texte{
		float:left;
		width: 90%;
	}
	img{
		float:right;
		margin-top: 80px;
	}
}

        




/*** Test jeu jquerry ***/
#jeu{
  width: 400px;
  height: 400px;
  border: 2px black solid;
  overflow: hidden;
  position: relative;
}
.fond{
  margin-bottom:-5px; 
  z-index: 10;
  position: absolute;
}
#vj{
  z-index: 100; 
  position: absolute; 
  top: 10px; 
  left: 48px;
}
#vr{
  z-index: 80; 
  position: absolute; 
  top: -200px; 
  left: 0px;
}


/*** Jeu : vaisseau ***/
 #jeuv
{
  width: 600px;
  height: 400px;
  border: 2px black solid;
  background: url('../../../images/fond.png');
  overflow: hidden;
}
#soucoupe{
  z-index: 200; 
  position: relative; 
  top: 1px; 
  left: 1px;
}
#bon{
  z-index: 100; 
  position: relative; 
  display: none;
  width: 50px;
  height: 116px
}
#mauvais{
  z-index: 100; 
  position: relative; 
  display: none;
  width: 50px;
  height: 116px
}

/*** Page Apparence, test jquerry ***/
#panel, #flip {
    padding: 5px;
    text-align: center;
    background: @gradient;
    border: solid 1px #c3c3c3;
    color: @white;
    font-size: 16px;
}

#panel {
    padding: 50px;
    display: none;
}

.statecls{
	color: red;
	font-size: 25px;
}


/*** Réatribution des paramètres par defaut du boutton Annuler (Administrateur -> gestion) ***/
.cancelbutton{
	color: #333 !important;
	background-color: #f5f5f5 !important;
	background-image: linear-gradient(to bottom,#fff,#e6e6e6) !important;
	background-repeat: repeat-x !important;
	border: 1px solid #bbb !important;
	border-bottom-color: #a2a2a2 !important;
}
.cancelbutton:hover,.cancelbutton:focus{
	background-color: #e6e6e6 !important;
	background-image:none !important;
}